.AccordionWrapper {
    padding: calc(clamp(145px, 8.3vw + 8px, 200px)) 0 calc(clamp(0px, 10vw + 8px, 0px));
    :global {
        .accordion-button::after {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
        }
        .accordion-item {
            border-left: transparent;
            border-right: transparent;
            border-radius: unset;
            .accordion-button {
                font-family: var(--Magistral-Medium);
                font-size: calc(clamp(20px, 1vw + 3px, 22px));
                line-height: 1.2;
                transition: all 0.3s ease-out;
                color: var(--Border-Black);
                padding: 40px 0;
                background: var(--Transparent-Color);
                &:after {
                    content: unset;
                }
            }
            svg {
                transition: 0.3s all;
            }
            .accordion-button:not(.collapsed) {
                color: #000;
                background-color: transparent;
                box-shadow: none;
                svg {
                    transform: rotate(45deg);
                }
            }
            .accordion-body {
                padding: 0 0 60px;
                max-width: 1180px;
                margin: 0;
                font-size: calc(clamp(16px, 1vw - 1px, 18px));
                line-height: 1.6;
                color: var(--Border-Black);
            }
        }
    }
    .FaqButton {
        a {
            background-color: var(--Regular-text-color);
            font-family: var(--Magistral-Medium);
            color: var(--Egg-White);
            text-transform: uppercase;
            font-size: 15px;
            line-height: 48px;
            height: 48px;
            padding: {
                left: 19px;
                right: 19px;
            }
        }
    }
}
