@import "../../assets/css/mixing";

.metaverse {
  background-image: url("../../public/Images/metaverse-globe.png");
  height: 100vh;
  width: 100%;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_detail {
      display: flex;
      flex-direction: column;
      padding: 160px 0 0 100px;
      h1 {
        color: #fff;
        font-weight: 700;
        font-size: 72px;
        line-height: 86px;
        padding-bottom: 22px;
        max-width: 837px;
        width: 100%;

        span {
            color: #FA0339;
        }
      }

      p {
        color: #fff;
        text-align: left;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
      }
    }

    &_btns {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
    }

    &_btn1 {
      background: var(--Discord-Color);
      color: #fff;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
      width: 195px;
      height: 52px;
    }

    &_btn2 {
      background: var(--telegram-color);
      color: #fff;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
      width: 195px;
      height: 52px;
    }

    &_btn3 {
        margin-top: 16px;
      background: #f5841f;
      padding: 16px 24px;
      max-width: 399px;
      width: 100%;
      height: 56px;
      display: flex;
      justify-content: center;
      cursor: pointer;
      align-items: center;

      a {
        display: flex;
        gap: 24px;
      }

      span {
        color: #fff;
      }
      
    }

    &_email {
      margin-top: 64px;
      margin-bottom: 50px;
    }
  }
}
