@import "./fonts.scss";
@import "./_mixing";

button {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: var(--Transparent-Color);
  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
}

a {
  text-decoration: none;
  outline: none;
}

.btn {
  background-color: var(--Torch-Red);
  height: 48px;
  text-transform: uppercase;
  line-height: 48px;
  padding: 0px 19px;
  color: var(--Plain-White);
  font-size: 18px;
  font-family: var(--Magistral-Medium);
  border-radius: 0px;
  border: none;
  // max-width: 150px;
  text-transform: uppercase;
  width: fit-content;
  &:active,
  &:focus,
  &:focus-visible {
    color: var(--Plain-White);
    background-color: var(--Torch-Red);
  }
  &:hover {
    color: var(--Plain-White);
    background-color: var(--Torch-Red);
  }
  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.btn-market {
  font-size: 15px;
  font-family: var(--Magistral-Medium);
}
