html {
  //Colors
  --dark-bg: #0f1320;
  --Torch-Red: #fa0339;
  --Green-Btn: linear-gradient(180deg, #cef952 0%, #a2ce21 100%);
  --Regular-text-color: #132239;
  --Egg-White: #f3f2ee;
  --Dark-Opacity30: #0f1b2e;
  --Color-Light: rgba(19, 34, 57, 0.5);
  --Border-Color: #dee3eb;
  --Black-Color: #0f1b2e;
  --Discord-Color: #5865f2;
  --Blue-Color: #2ca5e0;
  --telegram-color: #0084c5;
  --Plain-White: #ffffff;
  --Theme-Black: #000c1b;
  --Transparent-Color: transparent;
  --Border-Black: #141f32;
  --Gray-color: #67707e;
  --Video-Border: #dee3eb;
  --Video-Edges: #b1bdcf;
  --bg-dark: #0f172b;
  --Input-Text-Field: #2a2f38;
  --Footer-Bg-Color: #191a1c;
  --Footer-Mobile-Bg-Color: #1d1e20;
  --Accordion-Title: #14212d;
  --Black-Color: #000000;
  --Icon-Border-Color: #e1e5e8;
  --Icon-Bg-Color: #fbfbfd;
  --Dark-Black: #040404;
  --Tag-Color: #ffc700;
  --Slider-Bullets-Bg: #e2e8f0;
  --Nav-Background: #f8f7f9;
  --Sticky-Border: rgba(0, 0, 0, 0.14);
  --Season-Num-Bg: linear-gradient(139.58deg, #fa4b3a 2.61%, #fdc948 88.33%);
  --Race-Info-Bg: linear-gradient(
    90.01deg,
    rgba(81, 203, 255, 0.4) 3.56%,
    rgba(81, 203, 255, 0.11) 47.88%,
    rgba(81, 203, 255, 0.4) 98.11%
  );
  --Join-Btn-Bg: linear-gradient(180deg, #cef952 0%, #a2ce21 100%);
  --Primary300: #b8bdc4;
  --Primary400: #b8bdc4;
  --Primary5: #f3f4f5;
  --Green: #00bd1e;
  --Primary-05: #f3f4f5;
  --Primary-10: #e7e9eb;
  --Primary-20: #d0d3d7;
  --Primary-30: #b8bdc4;
  --Primary-40: #a1a7b0;
  --Primary-50: #89909c;
  --Primary-60: #717a88;
  --Primary-70: #5a6474;
  --Primary-80: #424e61;
  --Primary-90: #2b384d;
  --Primary-100: #132239;
}
