@import "../../assets/css/mixing";

.investorSection {
  padding-top: 80px;
  padding-bottom: 80px;
  //   background-color: #fafafa;
  background: rgba(217, 217, 217, 0.01);
  background-image: url("../../public/Images/getStartBG.png");
  background-repeat: no-repeat;
  padding-block: 120px;
  background-size: cover;
  position: relative;
  isolation: isolate;
  &::before {
    content: "";
    background: rgba(217, 217, 217, 0.01);
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    backdrop-filter: blur(42.5px);
    z-index: -1;
  }

  h2 {
    font-size: calc(clamp(2rem, 1.6359rem + 1.5534vw, 3.5rem));
    margin-bottom: 24px;
    font-family: var(--Magistral-Bold);
    color: var(--Plain-White);
  }

  @include medium(min-width) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .investorsGrid {
    .invListing {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 24px;
      align-items: center;
      text-align: center;
      @include medium(min-width) {
        grid-template-columns: repeat(3, 1fr);
      }
      @include large(min-width) {
        grid-template-columns: repeat(4, 1fr);
      }
      @include xLarge(min-width) {
        grid-template-columns: repeat(6, 1fr);
      }
      li {
        // border: 1px solid #e7e9eb;
        // width: 100%;
        // height: 100%;
        // align-items: center;
        // justify-content: center;
        display: flex;
        // padding: 22px;
        // background: #fff;
        border-radius: 2px;
        img {
          filter: grayscale(100%);
        }
      }
    }
  }
}
