.landUtilizationWrapper {
  background-color: #081325;
  padding-top: 100px;
  h3 {
    font-size: clamp(2.5rem, 2.2573rem + 1.0356vw, 2.59rem);
    margin-bottom: 16px;
    text-align: center;
    color: #fff !important;
  }
}
